# Number

In [1]:
1+3

4

In [2]:
print(1+3)

4

In [3]:
a=5
a

5

In [5]:
print(a)

5

In [1]:
print("Hello world my name is mohammad adil \n and i learn from pwskill")

Hello world my name is mohammad adil
 and i learn from pwskill

# Variale Assignment

In [8]:
name="Adil"

In [9]:
name

'Adil'

In [10]:
name="Mohammad Adil"

In [11]:
name

'Mohammad Adil'

In [12]:
type("")

str

In [14]:
decimal_num=2.4

In [15]:
type(decimal_num)

float

In [17]:
# Variables are case sensitive
company="ineuron"
Company="PWSKILL"
print(company)
print(Company)

ineuron
PWSKILL

In [19]:
a="23"

In [20]:
type(a)

str

# Dynamic Typing

In [1]:
a=12
str1="Adil"
a="Var"

In [2]:
print(type(a))

<class 'str'>

In [3]:
int(1.5)

1

In [4]:
"1"+"1"

'11'

In [6]:
int("1")+ "1" # bcz  first one is integer and the other is string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
"1"*20

'11111111111111111111'

In [2]:
age=23
print("My age is",age)

My age is 23

In [5]:
print(f"My age is {age}") # where f is used for formating

My age is 23

In [6]:
b="Years"

In [7]:
print(f"My age is {age,b}")

My age is (23, 'Years')

In [9]:
print(f"My age is {age} {b}")

My age is 23 Years

In [12]:
name="Adil"
age=23
print("My name is {} and age is {}".format(name,age))

My name is Adil and age is 23

In [13]:
#place holder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Adil and age is 23

In [14]:
name="Mohammad Adil"
age=23
degree="Bsc"
print("My age is {c} and i have completed my degree of {b} with the name of {a}".format(c=age,b=degree,a=name))

My age is 23 and i have completed my degree of Bsc with the name of Mohammad Adil

In [15]:
print(f"My age is {age} and i have completed my degree of {degree} with the name of {name}",)

My age is 23 and i have completed my degree of Bsc with the name of Mohammad Adil

## Control flow
### Decision making statement

In [21]:
age=int(input("Enter your age"))
print(f"Your age is {age}",)
if age<18:
    if age<12:
        print("You are kid")
    print("You are not eligible for vote")
else:
    print("You are eligible for vote")

Enter your age 11

Your age is 11
You are kid
You are not eligible for vote

In [26]:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter your age 23

You are young blood

In [30]:
print(2000-2000*10/100)

1800.0

In [33]:
price=int(input("Enter your product price"))
if price>1000:
    print("your payable amount is",price-price*20/100)
elif price<1000:
    print("Your payable amount is",price-price*30/100)
print("Thank you for visiting us")

Enter your product price 800

Your payable amount is 560.0
Thank you for visiting us

In [5]:
product_price=int(input("Enter the product price"))
print("The price of your product is",product_price)
if product_price>=100 and product_price<1000:
    print(f"Your payable amount is {product_price*0.9}")
elif product_price>=1000 and product_price<2000:
    print(f"Your payable amount is {product_price*0.8}")
elif product_price>=2000:
    print(f"Your payable amount is {product_price*0.7}")
    if product_price==2999:
        print("Congratulation you won a ticket to Goa")
else:
    print("Lets drink tea")
print("Thanks for visting us")

Enter the product price 2999

The price of your product is 2999
Your payable amount is 2099.2999999999997
Congratulation you won a ticket to Goa
Thanks for visting us

In [7]:
#single statement
val=int(input("Enter the value"))
if val<=999:print("The value is less than or equal to 999")

Enter the value 900

The value is less than or equal to 999

## Loop statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [29]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

## For Loop

In [30]:
name="Adil"
for i in name:
    print(i)

A
d
i
l

In [31]:
name[2]

'i'

In [34]:
name="Adil"
for i in name:
    print(i,end='')

Adil